{% extends 'base.html' %}

{% block content %}


<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Delete Category</li>
        </ol>
      </nav>
      

          <div class="card">
            <form action="{% url 'delete-category' %}" method="post">
                {% include 'partials/_messages.html' %}
                {% csrf_token %}
              <div class="card-body">
                <div class="form-group py-2">
                    <label for="category">Category</label>
                   <select name="category" class="form-control form-control-sm">
                       {% for category in categories %}
                       <option name="category" value="{{category.name}}">{{category.name}}</option>
                       {% endfor %}
                   </select>
                </div>
              </div>
              <input type="submit" value="Delete" class="btn btn-danger mx-3">
            </form>
          </div>
      
</div>

{% endblock content %}